.heading {
    text-align: center;
    font-size: 40px;
    padding-top: 3%;
    font-family: helvetica;
    font-weight: bold;
}

.task {
    font-size: 24px;
}
.main-section {
    margin: 5% 10%;   
}

.add-input {
    width: 35%;
}