body {
    background-color: #007acc;
}
.heading {
    text-align: center;
    font-size: 44px;
    padding-top: 3%;
    font-family: helvetica;
    font-weight: bold;
    color: white;
}
.all-tasks {
    margin-left: 5%;
    margin-top: 5%;
    color: white;
}
.my-list-heading {
    font-size: 32px;
    font-family: helvetica;
}
.to-do-list {
    margin-left: 15%;
    margin-top: 5%;
    width: 40%;
    height: auto;
    background-color: lightgray;
    color: #808080;
}
.for-flex {
    display: flex;
}

ul {
    font-size: 20px;
    margin-left: -10%;
    position: relative;
    line-height: 1.7;
    list-style: circle;
    font-family: helvetica;
}

.active-list {
    font-weight: bold;
    font-size: 22px;
}

.new-list {
    background: transparent;
    border: 0;
    border-bottom: 1px solid currentColor;
    border-bottom: 1.3px solid white;
    color: inherit;
    order: 2;
    margin-left: 3%;
}
.new-to-do::placeholder {
    color: #808080;
    opacity: 1;
  }
.new-list::placeholder {
    color: white;
    opacity: 1;
}
button.btn-todo {
    margin-left: 1%;
    background: transparent;
    border: none;
    color: #808080;
    font-weight: bold;
    font-size: 22px;
}
button.delete {
    margin-left: 5%;
    background: transparent;
    border: none;
    color: #808080;
    font-weight: bold;
    font-size: 14px;
}
button.btn-list {
    margin-left: 1%;
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.list-title {
    color: #595959;
    font-size: 32px;
    font-family: helvetica;
}
.to-do-header {
    display: flex;
    justify-content: space-around;
    background-color: #bfbfbf;
}

.task-count {
    color: #595959;
    margin-left: 10%;
    width: auto;
    margin-top: 9%;
    font-size: 18px;
}
.tasks {
    line-height: 1.8em;
    font-family: helvetica;
    font-size: 18px;
    color: #808080;
}
.new-to-do {
    background: transparent;
    border: 0;
    border-bottom: 1.3px solid #808080;
    color: #808080;
    margin-top: 5%;
    order: 2;
    margin-left: 3%;
}
.delete-stuff {
    margin-top: 5%;
    margin-left: -5%;
}
.delete {
    font-size: 16px;
    margin-left: 5%;
    color: #808080;
    padding-bottom: 5%;
}
input {
    color: #808080;
}
::selection {
    background: white;
}
.add {
    color: #808080;
}
.strike:checked + label {
    color:#808080;
    text-decoration: line-through;
  }
  .delete:hover {
      font-size: 16px;
  }